@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, black;
}
@font-face {
    font-family: 'SemiBold';
    src: url('/Fonts/Lora-SemiBold.ttf')format('truetype');
    font-weight: 400;
}
body{
    font-family: 'SemiBold', sans-serif;
}
input ,label{
    border:0 !important;
    outline: none;
    border-bottom:3px solid #fdfdfd !important ;
}
input::placeholder{
    font-size:17px !important;
}
.navbar ,.navbar-start{
    max-height: 3rem !important;
}
